APScheduler==3.10.4
Flask==2.0.1
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.2
Jinja2==3.0.1
MarkupSafe==2.0.1
Pillow==9.5.0
SQLAlchemy==1.4.41
Werkzeug==2.0.1
click==8.0.1
dlib==19.24.2
face-recognition==1.3.0
face-recognition-models==0.3.0
gunicorn==20.1.0
itsdangerous==2.0.1
numpy==1.24.3
opencv-python-headless==4.8.0.74
pip==23.2.1
pyjwt==2.8.0
python-dateutil==2.8.2
pytz==2023.3
qrcode==7.4.2
setuptools==68.2.2
wheel==0.41.2
